

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$brand-danger                     : #FF0000;
$brand-success                    : #0BE000;
$brand-primary                    : #2200FF;
$navbar-height                    : 70px;
$navbar-default-bg                : #FF5500;
$navbar-default-link-color        : #FFF;
$navbar-default-link-active-color : #FFF;


$border-radius-large:       25px !default;
$border-radius-base:        18px !default;
$border-radius-small:       15px !default;
$btn-border-radius-xs:      10px !default;


#container {
    margin-top: 70px;
}


@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-xs );
}

